/* --------------------------
 Common Style Part  
 ----------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
    line-height: 0.8;
}
ul, ol{
    list-style-type: none;
}
img{
    vertical-align: middle;
}
:root{
    --primary-color: #ffffff;
    --secondary-color: #0092E0;
    --header-color: #011E40;
    --paragraph-color: #3B5779;
    --property-descriptoion-color: #696969;
    --inter-font-family: 'Inter', sans-serif;
    --figtree-font-family: 'Figtree', sans-serif;

}
.nav-link{
    color: #000;
}
.container{
    max-width: 1290px;
    padding: 0;
    margin: 0 auto;
}

.feat-title, .service-title, .popular-pro-title, .dif-other-title, .news-blog-title,.buy-pro-title{
    font-weight: 600;
    font-size: 52px;
    line-height: 63px;
    font-family:  var(--inter-font-family) ;
    text-transform: capitalize;
    color:  var(--header-color) ;
}
/* Header Part Start  */
header{
    position: fixed;
    width: 100%;
    margin: 0 auto;
}
.nav-item{
    margin-right: 37px;
}
.nav-link{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    font-family: var(--inter-font-family);
}
.number-btn{
    margin-left: 33px;
}
#phn-number{
    background: #FF9E12;
    border-radius: 8px;
    padding: 18px 22px;
    border: none;
}
#phn-number a{
    color: #fff;
}

/* Main Style Part  */

/* Banner Style Part Start  */
#banner{
    padding-top: 136px;
    padding-bottom: 57px;
}
.banner-part{
    background-image: url(../images/banner-1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    
}
.banner-overly{
    padding-top: 172px;
    padding-bottom: 198px;
    background-color: rgba(0, 0, 0, 0.287);
}
.banner-text{
    padding: 0 244px;
    text-align: center;
   
}
.head-line{
    font-family: var(--inter-font-family);
    font-weight: 600;
    font-size: 61px;
    line-height: 72px;
    text-transform: capitalize;
    color: var(--primary-color);
}
.special-word{
    color: var(--secondary-color);
}
.banner-para{
    color: var(--primary-color);
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.1875rem;
    padding-top: 0.75rem;
    margin-bottom: 2.9375rem;
}
.pro-listing-btn,.pro-sell-btn{
    padding: 1.125rem 1.25rem;
    background-color: var(--primary-color) ;
    color: var(--secondary-color);
    border-radius: 7px;  
    border: none;
    transition: background-color .5s ease-in-out, color .5s ease-in-out;
    font-weight: 600;
    font-size: 1.375rem;
    line-height: 2rem;
    font-family: var(--figtree-font-family);
}
.pro-listing-btn{
    margin-right: 21px;
}
.pro-listing-btn i,.pro-sell-btn i{
    margin-right: 0.625rem;
}
.pro-listing-btn:hover, .pro-sell-btn:hover{
    background-color: var(--secondary-color) ;
    color: var(--primary-color);
}
/* Banner Style Part End */

/* Feature Propeties Style Part Start   */
#service-part{
    padding-bottom: 8.625rem;
}
.feat-head{
    margin-bottom: 3rem;
}
.feat-properties{
    display: flex;
    column-gap: 2rem;
}
.feat-img-title,  .popular-pro-img-title{
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-family: var(--inter-font-family);
    text-transform: capitalize;
}
.feat-img-title{
    color: var(--property-descriptoion-color);
    padding-top: 0.875rem;
}
/* Feature Propeties Style Part End   */

/* Srvice Style Part Start   */
#service-part{
   padding-top: 3.25rem;   
}
.fst-line-service{
    margin-top: 3rem;
}
.scnd-line-service{
    margin-bottom: 2rem;
}
.service-content{
    padding-bottom: 1.875rem;
}
.service-name{
    font-weight: 600;
    font-size: 2rem;
    line-height: 120%;
    color: var(--header-color);
    font-family: var(--inter-font-family);
    text-transform: capitalize;
    padding-top: 2rem;
    padding-bottom: 1.0625rem;
}
.service-description{
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 165%;
    font-family: var(--inter-font-family);
}
.service-description{
    color: var(--paragraph-color);
    padding-bottom: 1.25rem;
}
.learn-more{
    padding-top: 2rem;
}
.learn-more-btn{
    padding: 1.0625rem 2.5rem;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 4px;

}
.learn-more-btn a{
    font-weight: 600;
    font-size: 1.375rem;
    color: var(--primary-color);
    text-transform: capitalize;
}

/* Srvice Style Part End   */

/* Popular Properties part Start  */
#popular-properties{
    background-color: #F3FBFF;
    padding: 130px 0;
}
.popular-pro-title{
    padding-bottom: 16px;
}
.popular-head-description,.strategy-planning-description,.stength-description {
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    font-family: var(--inter-font-family);
    color: var(--property-descriptoion-color);
 
}
.popular-property-lisitng-fst-row{
    margin-top: 52px;
    margin-bottom: 30px;
}
.popular-pro-area-name{
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    font-family: var(--inter-font-family);
    padding-top: 6px;
    color: var(--property-descriptoion-color);
}
.popular-pro-details{
    margin-top: 20px;
    margin-bottom: 24px;
}
.popular-pro-details a{
    font-weight: 500;
    font-size: 16px;
    color: var(--header-color);
    margin-right: 29px;
}
.popular-pro-details a:last-child{
    margin-right: 0;
}
.popular-pro-details a i{
    margin-right: 6px;
}
.btn-primary{
    margin-right: 12px;
    transition: background-color .5s ease-in-out, color .5s ease-in-out;
}
.btn-primary:hover{
    color: var(--secondary-color);
    background-color: var(--primary-color);
}
.see-more-pro{
    margin-top: 48px;
}
#see-more-pro{
    border: 1px solid var(--secondary-color);
    text-transform: capitalize;
}
/* Popular Properties part End  */

/* We are Different Part Style Start  */
#we-different-part{
    padding-top: 130px;
    padding-bottom: 75px;
}
.strategy-part{
    margin-top: 72px;
    margin-bottom: 140px;
}

.strategy-planning-part{
    align-items: center;
    padding-right: 90px;
}
.propety-location-map{
    padding-right: 26px;
}
.planning-title, .sthength-title{
    font-weight: 600;
    font-size: 42px;
    line-height: 50px;
    color: var(--header-color);
    font-family: var(--inter-font-family) ;
    text-transform:  capitalize;
}
#contact-us{
    padding: 13px 46px;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 6px;
}
.contact-us-btn{
    margin-top: 24px;
}
#contact-us a{
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    text-transform: capitalize;
    font-family: var(--figtree-font-family);
    color: var(--primary-color);
}
/* We are Different Part Style End  */



/* Main Style Part  */

