/* --------------------------
 Common Style Part  
 ----------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
    line-height: 0.8;
}
ul, ol{
    list-style-type: none;
}
img{
    vertical-align: middle;
}
:root{
    --primary-color: #ffffff;
    --secondary-color: #0092E0;
    --header-color: #011E40;
    --paragraph-color: #3B5779;
    --inter-font-family: 'Inter', sans-serif;
    --figtree-font-family: 'Figtree', sans-serif;

}
.nav-link{
    color: #000;
}
.container{
    max-width: 1290px;
    padding: 0;
    margin: 0 auto;
}

/* Header Part Start  */
header{
    position: fixed;
    width: 100%;
    margin: 0 auto;
}
.nav-item{
    margin-right: 37px;
}
.nav-link{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    font-family: var(--inter-font-family);
}
.number-btn{
    margin-left: 33px;
}
#phn-number{
    background: #FF9E12;
    border-radius: 8px;
    padding: 18px 22px;
    border: none;
}
#phn-number a{
    color: #fff;
}

/* Main Style Part  */
#banner{
    padding-top: 136px;
    padding-bottom: 57px;
}
.banner-part{
    background-image: url(../images/);
}
/* Main Style Part  */

