/* --------------------------
 Common Style Part  
 ----------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
    line-height: 0.8;
}
ul, ol{
    list-style-type: none;
}
img{
    vertical-align: middle;
}
:root{
    --primary-color: #ffffff;
    --secondary-color: #0092E0;
    --header-color: #011E40;
    --paragraph-color: #3B5779;
    --inter-font-family: 'Inter', sans-serif;
    --figtree-font-family: 'Figtree', sans-serif;

}
.nav-link{
    color: #000;
}
.container{
    max-width: 1290px;
    padding: 0;
    margin: 0 auto;
}

/* Header Part Start  */
header{
    position: fixed;
    width: 100%;
    margin: 0 auto;
}
.nav-item{
    margin-right: 37px;
}
.nav-link{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    font-family: var(--inter-font-family);
}
.number-btn{
    margin-left: 33px;
}
#phn-number{
    background: #FF9E12;
    border-radius: 8px;
    padding: 18px 22px;
    border: none;
}
#phn-number a{
    color: #fff;
}

/* Main Style Part  */
#banner{
    padding-top: 136px;
    padding-bottom: 57px;
}
.banner-part{
    background-image: url(../images/banner-1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    
}
.banner-overly{
    padding-top: 172px;
    padding-bottom: 198px;
    background-color: rgba(0, 0, 0, 0.287);
}
.banner-text{
    padding: 0 244px;
    text-align: center;
   
}
.head-line{
    font-family: var(--inter-font-family);
    font-weight: 600;
    font-size: 61px;
    line-height: 72px;
    text-transform: capitalize;
    color: var(--primary-color);
}
.special-word{
    color: var(--secondary-color);
}
.banner-para{
    color: var(--primary-color);
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    padding-top: 12px;
    padding-bottom: 24px;
}
.pro-listing-btn,.pro-sell-btn{
    padding: 18px 20px;
    background-color: var(--primary-color) ;
    color: var(--secondary-color);
    border-radius: 7px;  
    transition: background-color .5s ease-in-out, color .5s ease-in-out;
}
.pro-listing-btn{
    margin-right: 21px;
}
.pro-listing-btn i,.pro-sell-btn i{
    margin-right: 10px;
}
.pro-listing-btn:hover, .pro-sell-btn:hover{
    background-color: var(--secondary-color) ;
    color: var(--primary-color);
}
/* Main Style Part  */

